.main {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding: 20px;
}

.nav div{
  cursor: pointer;
  display: flex;
  padding: 5px;
  border-radius: 50%;
}

.nav img {
  width: 40px;
  border-radius: 50px;
}

.nav .theme-toggle{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.main-container {
  max-width: 900px;
  margin: auto;
}

.greet {
  margin: 50px 0;
  font-size: 56px;
  color: #444746;
  font-weight: 500;
  padding: 20px;
}

.dark .main .greet {
  color: #c4c7c5;
}

.custom-prompt {
  position: fixed;
  top: 0%;
  left: 40%;
  transform: translate(-50%, -50%);
  background: -webkit-linear-gradient(110deg, #4b90ff, #ff5546);
  font-size: 20px;
  border: 1px solid #ccc;
  color: white;
  border-radius: 0px 0px 20px 20px;
  padding: 20px;
  z-index: 9999;
  text-align: center; /* Center the content */
  animation: prompt_popup 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.custom-prompt p {
  margin-bottom: 20px;
}
.custom-prompt form {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.custom-prompt input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  font-style: italic;
  color: white;
  border: 1px solid #ccc;
  border-right: 0px;
  outline: none;
  background: transparent;
  border-radius: 10px 0px 0px 10px;
}

.custom-prompt input:focus {
  outline: none;
}

.custom-prompt button {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
}

.main .greet span {
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .greet span .username {
  animation: username 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  opacity: 0;
}

.main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 15px;
}

.main .card {
  height: 200px;
  padding: 15px;
  background-color: #f0f4f9;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.dark .main .card{
  background-color: #1E1F20;
}

.main .card div {
  width: 40px;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.main .card p {
  color: #585858;
  font-size: 17px;
}

.dark .main .card p{
  color: #E3E3E3;
}

.main .card:hover {
  background-color: #dfe4ea;
}

.dark .main .card:hover{
  background-color: #585858;
}

.main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0px 20px;
  margin: auto;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #f0f4f9;
  padding: 10px 20px;
  border-radius: 50px;
}

.dark .search-box{
  background-color: #1E1F20;
}

.search-box img {
  width: 24px;
  cursor: pointer;
}

.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 18px;
}

.dark .search-box input{
  color: #f0f4f9;
}

.search-box div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main .bottom-info {
  font-size: 14px;
  margin: 15px auto;
  text-align: center;
  font-weight: 400;
}

.result {
  padding: 0px 5%;
  max-height: 70vh;
  overflow-y: scroll;
}

.result::-webkit-scrollbar {
  display: none;
}

.result-title {
  margin: 40px 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.result img {
  width: 40px;
  border-radius: 50%;
}

.result-data {
  display: flex;
  align-items: start;
  gap: 20px;
}

.result-data p{
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
}

.loader{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loader hr{
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #9ed7ff, #fff, #9ed7ff);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 3s infinite linear;
}

@keyframes prompt_popup {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes username {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.animate-username {
  animation-play-state: running;
}

@keyframes loader {
  0%{
    background-position: -800px 0px;
  }
  100%{
    background-position: 800px 0px;
  }
}

@media (max-width: 600px) {
  .nav{
     border-bottom: 1px solid;
  }

  .main .greet{
    margin: 0;
    font-size: 53px;
  }

  .main .cards{
    padding: 0px 20px;
  }
  .main .card{
    height: 180px;
  }
  
  .main-bottom input{
    flex: none;
    width: 150px;
  }

  .main-bottom img {
    width: 20px;
  }

  .search-box{
    padding: 5px 10px;
  }
  
  .search-box input{
    font-size: 14px;
  }

  .search-box div{
    padding: 5px;
  }
}

@media (max-width: 400px) {  
  .nav{
    padding: 10px 20px 10px 20px ;
  }

  .nav p{
    font-size: 16px;
  }

  .main{
    height: 100vh;
  }

  .main .greet{
    padding: 0px 10px 5px 10px;
  }

  .main .greet span{
    padding: 10px;
    font-size: 40px;
  }

  .greet p{
    padding: 10px;
    font-size: 20px;
  }

  .main .cards{
    margin:0 ;
    margin-bottom: 30px;
  }

  .main .card{
    height: 100px;
    padding: 10px;
  }

  .main .card:last-child{
    display: none;
  }

  .main .card p{
    font-size: 15px;
  }

  .main .bottom-info{
    font-size: 10px;
  }
}